<router-outlet></router-outlet>

<footer class="developer-info">
  <div class="container">
    <div class="footer-left">
      <span>Developed by <strong>furinadev</strong></span>
      <a href="https://www.buymeacoffee.com/lyusufdeniz" target="_blank" class="coffee-btn">
        <i class="fas fa-coffee"></i>
        Buy me a coffee
      </a>
    </div>
    <div class="social-links">
      <a href="https://x.com/lyusufdeniz" target="_blank" title="Twitter">
        <i class="fab fa-x-twitter"></i>
      </a>
      <a href="https://github.com/lyusufdeniz" target="_blank" title="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/yusuffdeniz/" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
</footer>
